VITE_APP_SCRIPT_URL=https://script.google.com/macros/s/XXXXX/exec
VITE_NUM_WHATSAPP_DISTRIBUIDORA=549XXXXXXXXXX
VITE_INSTAGRAM_LINK=https://instagram.com/tu_cuenta
VITE_LOCATION_LINK=https://maps.app.goo.gl/xxxxx
